@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #ED5D31;
  --white: #ffffff; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ED5D31;
    --white: #ffffff; 
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.text-orange {
  color: var(--foreground);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
